.calibration-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.calibration-wrapper span {
    position: absolute;
    width: 627px;
    height: 55px;
    left: 224px;
    top: 143px;

    font-family: Black Ops One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #000000;
}

.img-card {
    position: absolute;
    width: 652px;
    height: 424px;
    left: 199px;
    top: 216px;
}

.img-card img {
    width: 100%;
    height: 100%;
}

.scoreboard {
    width: 50%;
    background-color: #333;
}

.scoreboard .timer {
    display: flex;
}

.calibration-action {
    height: calc(100vh - 700px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calibration-action span {
    font-size: 25px;
    font-weight: bold;
}

/* #btn-calibration {
    margin-top: 30px;
    width: 500px;
    height: 70px;
    border-radius: 15px;
    border: none;
    color: #FFF;
    background-color: #48b200;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer; 
} */

.scoreboard {
    padding: 25px;
}

.timer {
    display: flex;
    justify-content: center;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.title-scoreboard {
    color: #FFF;
    font-size: 35px;
}

.minute, .seconds {
    width: 80px;
    height: 80px;
    border: 2px solid #9B870C;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 50px;
}

.timer span {
    font-size: 50px;
    color: #FFF;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.score {
    display: flex;
    justify-content: space-between;
    height: 70%;
    width: 99%;
    margin-top: 20px;
}

.home, .visitor {
    width: 48%;
}

.pontuation {
    width: 30%;
}

.pontuation span {
    color: #FFF;
    font-size: 25px;
    display: flex;
}

.pontuation:nth-of-type(2) span {
    display: flex;
    justify-content: flex-end;
}

.home, .visitor {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #9B870C;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 100px;
    color: #FFF;
}