html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    background-color: #39a700;
}

.navbar span {
    margin-left: 15px;
    color: #FFF;
    font-weight: bold;
    font-size: 45px;
}

.main-content {
    width: 98%;
    height: calc(100vh - 120px);
    padding: 20px;
    background-image: radial-gradient(#FFF, #DDD, #AAA);
}