.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-wrapper span {
    position: absolute;
    width: 499px;
    height: 149px;
    left: 311px;
    top: 52px;

    font-family: Black Ops One;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 87px;

    color: #028D49;
}

.content-wrapper button {
    position: absolute;
    width: 332px;
    height: 57px;
    left: 346px;
    top: 687px;

    background: #028D49;
    border-radius: 15px;

    border: none;

    font-family: Black Ops One;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    color: #FFFFFF;
    cursor: pointer; 
}