.time-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.playerDisplay {
  position: absolute;
  width: 500px;
  height: 250px;
  left: -10px;
  top: 320px;

}

.machineDisplay {
  position: absolute;
  width: 500px;
  height: 250px;
  left: 550px;
  top: 320px;
}

.btn-reset {
  position: absolute;
  width: 230px;
  height: 57px;
  left: 136px;
  top: 713px;

  background: #028D49;
  border-radius: 15px;
}

.btn-start {
  position: absolute;
  width: 230px;
  height: 57px;
  left: 397px;
  top: 713px;

  background: #028D49;
  border-radius: 15px;
}

.btn-pause {
  position: absolute;
  width: 230px;
  height: 57px;
  left: 658px;
  top: 713px;

  background: #028D49;
  border-radius: 15px;
}

.btn-restart {
  position: absolute;
  width: 230px;
  height: 57px;
  left: 251px;
  top: 632px;
  
  background: #323694;
  border-radius: 15px;
}

.btn-finish {
  position: absolute;
  width: 230px;
  height: 57px;
  left: 527px;
  top: 632px;

  background: #B01A1A;
  border-radius: 15px;
}

body {
  font-family: sans-serif;
}

.base-timer {
  position: relative;
  width: 200px;
  height: 142px;
  top: -210px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 200px;
  height: 180px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.player {
  position: absolute;
  width: 241px;
  height: 60px;
  left: 105px;
  top: 215px;

  font-family: Black Ops One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height */


  color: #000AFF;
}

.machine {
  position: absolute;
  width: 240px;
  height: 60px;
  left: 674px;
  top: 215px;

  font-family: Black Ops One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height */


  color: #FF0000;
}