{% extends "index.html" %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/calibration.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <div class="calibration-wrapper">
        <div class="header-wrapper">
            <div class="img-card">
                <img id="img-field" src="/static/img/field_1.png" alt="field">
            </div>
            <div class="scoreboard">
                <div class="title">
                    <span class="title-scoreboard">Placar</span>
                </div>
                <div class="timer">
                    <div class="minute">00</div>
                    <span>:</span>
                    <div class="seconds">00</div>
                </div>
                <div class="score">
                    <div class="pontuation">
                        <span>Casa</span>
                        <div class="home">
                            00
                        </div>
                    </div>
                    <div class="pontuation">
                        <span>Visitante</span>
                        <div class="visitor">
                            00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="calibration-action">
            <span>Coloque a bola de pebolim onde o círculo vermelho aponta, e clique em prosseguir!</span>
            <button id="btn-calibration" onclick="changeStep()">Prosseguir</button>
        </div>
    </div>

    <script>
        var step_img = 2;

        function changeStep() {
            if (step_img === 5) {
                var image_field = document.getElementById('btn-calibration');
                image_field.innerText = "Calibrar"
            }

            if (step_img < 6) {
                var image_field = document.getElementById('img-field');
                image_field.src = `/static/img/field_${step_img++}.png`;
            } else {
                $.ajax({
                    type: "GET",
                    url: 'http://localhost:3333/calibrate',
                    data: {},
                    dataType: 'json'
                });
                
                window.location.replace("/start");
            }
        }
    </script>
{% endblock %}