<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
            <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">
            <title>Pebolim</title>
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <img src="/static/img/ball.png" alt="ball" width="60px" height="60px">
            <span>Autoosball</span>
        </div>
        <div class="main-content">{% block content %}{% endblock %}</div>
        <div>
            <img id="image-wrapper" src="" alt="my-image" width="600px" height="100%">
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io('http://localhost:3333');
            var socket = io({
                reconnection: true,
                reconnectionAttempts: Infinity,
                reconnectionDelay: 1000,
                reconnectionDelayMax: 1500,
                timeout: 1500,
            });

            socket.on('update_image', function(msg) {
                console.log(msg);
                const imageWrapper = document.getElementById('image-wrapper');
                imageWrapper.src = msg.image;
            })

            socket.on('connect', function() {
                console.log('connect');
            });

            var btn = document.getElementById('btn');
            btn.onclick = () => {
                socket.emit('show_image');
            };
        </script>
    </body>
</html>

