{% extends "index.html" %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/start-board.css') }}">
{% endblock %}

{% block content %}
    <div class="start-wrapper">
        <div class="scoreboard">
            <div class="title">
                <span class="title-scoreboard">Placar</span>
            </div>
            <div class="timer">
                <div id="minutes" class="minute">00</div>
                <span>:</span>
                <div id="seconds" class="seconds">00</div>
            </div>
            <div class="score">
                <div class="pontuation">
                    <span>Casa</span>
                    <div class="home">
                        00
                    </div>
                </div>
                <div class="pontuation">
                    <span>Visitante</span>
                    <div class="visitor">
                        00
                    </div>
                </div>
            </div>
        </div>
        <div class="start-action">
            <button id="minus" class="time-man" onclick="manipulation('minus')">-</button>
            <button id="btn-calibration" onclick="start()">Começar</button>
            <button id="plus" class="time-man" onclick="manipulation('plus')">+</button>
        </div>
    </div>

    <script>
        var minutes = 10;
        var seconds = 00;
        var secondElem = document.getElementById('seconds');
        var minuteElem = document.getElementById('minutes');
        var minus = document.getElementById('minus');
        var plus = document.getElementById('plus');

        minuteElem.innerText = minutes;
        secondElem.innerText = '0' + seconds;
        if (minutes === 10) {
            minus.setAttribute('disabled', true);
            minus.style.opacity = 0.6;
        }

        function timeout(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function start() {
            while (minutes != 0 || seconds != 0) {
                await timeout(1000);
                if(seconds == 0) {
                    seconds = 60;
                    minutes = minutes - 1; 

                    minuteElem.innerText = minutes < 10 ? '0' + String(minutes) : minutes;
                    secondElem.innerText = seconds < 10 ? '0' + String(seconds) : seconds;
                } else {
                    seconds = seconds - 1;

                    secondElem.innerText = seconds < 10 ? '0' + String(seconds) : seconds;
                }
            }
        }

        function manipulation(action) {
            console.log('passou')
            if (action == 'plus') { 
                minutes = minutes + 10 
            } else { 
                minutes = minutes - 10 
            }

            minuteElem.innerText = minutes;
            minus.disabled = minutes == 10 ? true : false;
            
            if (minutes === 10) {
                minus.setAttribute('disabled', true);
                minus.style.opacity = 0.6;
            } else {
                minus.removeAttribute('disabled');
                minus.style.opacity = 1;
            }
        }
    </script>
{% endblock %}