{% extends "index.html" %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/calibration.css') }}">
{% endblock %}

{% block content %}
    <div class="calibration-wrapper">
        <div class="header-wrapper">
            <div class="img-card">
                <img id="img-field" src="/static/img/field_1.png" alt="field">
            </div>
            <div class="scoreboard">
                <div class="timer">
                    <div class="minute">00</div>:
                    <div class="seconds">00</div>
                </div>
            </div>
        </div>
        <button onclick="changeStep()">Calibrar</button>
        <!-- <img src="" alt=""> -->
    </div>

    <script>
        var step_img = 2;

        function changeStep() {
            if(step_img < 6) {
                var image_field = document.getElementById('img-field');
                image_field.src = `/static/img/field_${step_img++}.png`;
                console.log(step_img);
            } else {
                window.location.replace("/start");
            }
        }
    </script>
{% endblock %}